[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pyopenssl = "*"
coverage = "*"
sphinx = "*"
python-docs-theme = "*"
sphinxcontrib-napoleon = "*"
sphinx-rtd-theme = "*"
rinohtype = "*"

[packages]
pyyaml = "*"
requests = "*"
twisted = "*"

[requires]
python_version = "3"
